header .container {
    margin-top: 20px;
}
hr {
    margin-top:60px;
}
footer {
    margin-top:50px;
}
code {
    padding:0px;
}
.container .text-center {
    margin: 50px auto 100px;
}

@media (max-width: 768px){
    .m-b-sm-50{
        margin-bottom: 50px;
    }
}
.collapse.navbar-collapse ul {
    flex: 1;
}

@media (min-width: 1024px){
    .collapse.navbar-collapse ul li {
        flex: 1;
    }
}

/* .collapse.navbar-collapse ul li a {
    padding: 12px 8px 12px;
    width: 100%;
} */

.navbar {
    padding: 0px;
}

.nav-item a {
    width: 100%;
}

.btn-secondary  {
    background-color: rgb(230, 230, 230);
    border-radius: 0px;
}
.btn-secondary:hover  {
    background-color: #c7cacc;
    border-radius: 0px;
}
.btn-secondary.active {
    background-color: #c7cacc;
}
.rounded-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.rounded-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* ovo sa rounded klasama ne funkcionise na mobilnim telefonima (logicno) */

