footer {
    margin-top:100px;
}
code {
    padding:0px;
}
section {
    margin: 50px auto 100px;
}

@media (max-width: 768px){
    .m-b-sm-50{
        margin-bottom: 50px;
    }
}
.collapse.navbar-collapse ul {
    flex: 1;
}
.collapse.navbar-collapse ul li {
    flex: 1;
    border: solid white 1px;
}